<h1 align="center"><%= "#{@team.name}'s" %> Team Page</h1>

<div class="row">
  <div class="col-md-6">
    <% if @team_departments %>
      <% if @team_departments.count > 0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="4" class="page-header">
                <h2 align="center">Departments of <%= "#{@team.name}" %></h2>
              </th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Number of Members</th>
              <th>Department Since<th>
            </tr>
          </thead>
          <tbody>
            <% @team_departments.each do |department| %>
              <tr>
                <td><%= department.name %></td>
                <td><%= department.users.count %></td>
                <td><%= department.created_at.localtime.strftime("%B %d, %Y at %I:%M%p") %></td>
                <td>
                  <%= link_to "View", department_path(department), class: "btn btn-primary btn-xs" %>
                  <% if current_user.department != department && current_user.team == @team %>
                    <%= link_to "Join", join_department_path(department), class: "btn btn-primary btn-xs", data: {confirm: "Are you sure you want to join this department? Joining this department removes you from all other departments"} %>
                  <% elsif current_user.department == department && current_user.team == @team %>
                    <span class="label label-default">
                      This is your department.
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3>There are no departments available for this Team.</h3>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2 align="center" class="team-show-2">This team has done <span><%= @team.user_exercises.sum(:number_of_reps) %></span> total reps!</h2>
    <%= pie_chart @team.user_exercises.group(:user).sum(:number_of_reps) %>
  </div>
</div>
