<h1 align="center"><%= "#{@user.full_name}" %>'s Massiveness</h1>
<%= line_chart @user.user_exercises.group_by_day(:created_at).sum(:number_of_reps) %>
<div class="row">
  <div class="col-md-6">
    <% if current_user.id == @user.id %>
      <h2 align="center">Add Reps</h2>
      <%= form_for(@user, html: {class: "form-horizontal", role: "form", method: "post"}, url: add_exercise_path) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= label_tag(:number_of_reps, "Number of Reps:") %>
          </div>
          <div class="col-sm-8">
            <%= number_field(:number_of_reps, class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= label_tag(:exercises, "Exercise:") %>
          </div>
          <div class="col-sm-8">
            <%= f.select(:exercises) do %>
              <%= options_from_collection_for_select(@exercises, 'id', 'name', params[:exercise_id].to_i) %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2>Something goes here when I'm not this user</h2>
    <% end %>
  </div>
  <div class="col-md-6 user-stats">
    <h2 align="center"><%= "#{@user.first_name}" %>'s Stats </h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Member Since:</h3>
      </div>
      <div class="col-md-6">
        <p><%= time_ago_in_words(@user.created_at) %> ago</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Member of <%= "#{@user.team.name}" %> Since:</h3>
      </div>
      <div class="col-md-6">
        <p><%= time_ago_in_words(@user.user_team.created_at) %> ago</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Most Massive Month:</h3>
      </div>
      <div class="col-md-6">
        <p><%= @user.most_reps %> reps on <%= @user.most_massive_day.strftime("%B %d, %Y") %> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h2 align="center">This will show current challenge information</h2>
</div>
